
#content{
	height: 300px;
	width: 110px;
}

.box{
	background: black;
	height: 100px;
	width: 100px;
	float: left;
	margin: 1px;
    box-sizing: border-box;
}

.light1, .light2, .light3 {
	background: #800000;
	height: 98px;
	width: 98px;
	float: left;
	margin: 1px;
    box-sizing: border-box;
    border-radius: 49px;
}